[submodule "pangolin"]
	path = pangolin
	url = git@github.com:stevenlovegrove/Pangolin.git
[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = git@github.com:FredrikErikJohansson/ORB_SLAM3.git
[submodule "LDSO"]
	path = LDSO
	url = git@github.com:FredrikErikJohansson/LDSO.git
